apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: pod-cleanup-operator
  name: pod-cleanup-operator-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-cleanup-operator-controller-manager
  namespace: pod-cleanup-operator-system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: pod-cleanup-operator
    app.kubernetes.io/component: controller
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - name: manager
          image: pod-cleanup-operator:latest
          imagePullPolicy: IfNotPresent
          command:
            - /manager
          args:
            - --leader-elect
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      serviceAccountName: pod-cleanup-operator
      terminationGracePeriodSeconds: 10
